{
	"presets": [
		"env",
		"react"
	],
	"plugins": [
		"transform-runtime"
	],
	"env": {
		"development": {
			"presets": []
		},
		"production": {
			"presets": []
		},
		"test": {
			"presets": []
		}
	}
}
