@import 'variables.css';

@media (--xs8-viewport) {

	.col-xs8-1,
	.col-xs8-2,
	.col-xs8-3,
	.col-xs8-4,
	.col-xs8-4,
	.col-xs8-5,
	.col-xs8-6,
	.col-xs8-7,
	.col-xs8-8,
	.col-xs8-offset-0,
	.col-xs8-offset-1,
	.col-xs8-offset-2,
	.col-xs8-offset-3,
	.col-xs8-offset-4,
	.col-xs8-offset-5,
	.col-xs8-offset-6,
	.col-xs8-offset-7,
	.col-xs8-offset-8 {
		box-sizing: border-box;
		flex: 0 0 auto;
		padding-right: var(--half-gutter-small);
		padding-left: var(--half-gutter-small);

		@media (--use-large-gutter) {
			padding-right: var(--half-gutter-large);
			padding-left: var(--half-gutter-large);
		}
	}

	.col-xs8-1 {
		flex-basis: var(--xs8-col-pct)%;
		max-width: var(--xs8-col-pct)%;
	}

	.col-xs8-2 {
		flex-basis: calc(var(--xs8-col-pct) * 2)%;
		max-width: calc(var(--xs8-col-pct) * 2)%;
	}

	.col-xs8-3 {
		flex-basis: calc(var(--xs8-col-pct) * 3)%;
		max-width: calc(var(--xs8-col-pct) * 3)%;
	}

	.col-xs8-4 {
		flex-basis: calc(var(--xs8-col-pct) * 4)%;
		max-width: calc(var(--xs8-col-pct) * 4)%;
	}

	.col-xs8-5 {
		flex-basis: calc(var(--xs8-col-pct) * 5)%;
		max-width: calc(var(--xs8-col-pct) * 5)%;
	}

	.col-xs8-6 {
		flex-basis: calc(var(--xs8-col-pct) * 6)%;
		max-width: calc(var(--xs8-col-pct) * 6)%;
	}

	.col-xs8-7 {
		flex-basis: calc(var(--xs8-col-pct) * 7)%;
		max-width: calc(var(--xs8-col-pct) * 7)%;
	}

	.col-xs8-8 {
		flex-basis: calc(var(--xs8-col-pct) * 8)%;
		max-width: calc(var(--xs8-col-pct) * 8)%;
	}

	.col-xs8-offset-0 {
		margin-left: 0;
	}

	.col-xs8-offset-1 {
		margin-left: var(--xs8-col-pct)%;
	}

	.col-xs8-offset-2 {
		margin-left: calc(var(--xs8-col-pct) * 2)%;
	}

	.col-xs8-offset-3 {
		margin-left: calc(var(--xs8-col-pct) * 3)%;
	}

	.col-xs8-offset-4 {
		margin-left: calc(var(--xs8-col-pct) * 4)%;
	}

	.col-xs8-offset-5 {
		margin-left: calc(var(--xs8-col-pct) * 5)%;
	}

	.col-xs8-offset-6 {
		margin-left: calc(var(--xs8-col-pct) * 6)%;
	}

	.col-xs8-offset-7 {
		margin-left: calc(var(--xs8-col-pct) * 7)%;
	}

	.start-xs8 {
		justify-content: flex-start;
		text-align: start;
	}

	.center-xs8 {
		justify-content: center;
		text-align: center;
	}

	.end-xs8 {
		justify-content: flex-end;
		text-align: end;
	}

	.top-xs8 {
		align-items: flex-start;
	}

	.middle-xs8 {
		align-items: center;
	}

	.bottom-xs8 {
		align-items: flex-end;
	}

	.around-xs8 {
		justify-content: space-around;
	}

	.between-xs8 {
		justify-content: space-between;
	}

	.first-xs8 {
		order: -1;
	}

	.last-xs8 {
		order: 1;
	}

	@media (--xs8-viewport-max) {
		.hidden-xs8-only {
			display: none;
		}
	}
}
